<!DOCTYPE html>
<html lang="en">
    <body>
        <head>
            <title> Login </title>
        </head>
            <h1> Login </h1>
            <form method="POST" id="login_input">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <label for="password">Password:</label>
                <input type="text" id="password" name="password">
                <div id="pass"></div>
                <button type="submit"> Enter </button>
                <div id='result'></div>
            </form>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='login.js') }}"></script>
    </body>
</html>